@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-black;  
  }
  h1 {
    @apply text-4xl text-black dark:text-white font-bold;
  }
  h2 {
    @apply text-3xl md:text-4xl lg:text-5xl text-black dark:text-white font-bold;
  }
}

@layer components {
  .loading {
    @apply bg-gray-100 dark:bg-gray-900 animate-pulse;
  }
  .hover-100 {
    @apply hover:bg-gray-100 dark:hover:bg-gray-900; 
  }
  .active-200 {
    @apply active:bg-gray-200 dark:active:bg-gray-800;
  }
  .primary-button {
    @apply bg-green-500 text-white font-semibold px-6 py-3 w-fit hover:bg-green-600;
  }
  .skip-button {
    @apply bg-transparent text-black font-semibold px-6 py-3 w-fit hover:bg-gray-100;
  }
  .top-safe {
    top: 0;
    padding-top: env(safe-area-inset-top);
  }
}

@font-face {
    font-family: 'RoobertTRIAL';
    src: url('/fonts/RoobertTRIAL-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertTRIAL';
    src: url('/fonts/RoobertTRIAL-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertTRIAL';
    src: url('/fonts/RoobertTRIAL-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertTRIAL';
    src: url('/fonts/RoobertTRIAL-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertTRIAL';
    src: url('/fonts/RoobertTRIAL-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'RoobertTRIAL';
    src: url('/fonts/RoobertTRIAL-Heavy.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('/fonts/Geist-UltraBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'GeistMono';
    src: url('/fonts/GeistMono-UltraBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

.chart {
    display: table;
    table-layout: fixed;
    width: 80%;
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 2%, rgba(255, 255, 255, 0) 2%);
    background-size: 100% 60px;
    background-position: left top;
  }
  .chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 300px;
  }
  .chart span {
    margin: 0 0.5em;
    display: block;
    background: rgba(97, 170, 207, 0.75);
    animation: draw 0.5s ease-in-out;
    --tooltip-offset: calc(var(--bar-height) / 10); /* Adjust this value if necessary */
  }
  .chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 2px 0; /* Adjust padding to ensure the text is closer to the bar */
    display: block;
    text-align: center;
    content: attr(title);
    font-size: 10px; /* Make the text smaller */
    white-space: nowrap; /* Ensure the text stays in a single line */
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }
  .chart span::after {
    content: attr(data-count);
    position: absolute;
    bottom: calc(100% + var(--tooltip-offset));
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    background: rgba(250, 192, 192, 0.75);
    border-radius: 4px; /* Add rounded corners */
    font-size: 10px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.chart span:hover::after {
    opacity: 1;
}
  .dark .dark\:chart_dark {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1) 2%, rgba(0, 0, 0, 0) 2%);
  }

  
  @keyframes draw {
    0% {
      height: 0;
    }
  }

  .dropdown-button {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease; /* Smooth transition */
}
.dropdown-button:hover {
    background-color: rgba(162, 216, 243, 0.75); /* Color when hovered */
}

.dropdown-content {
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
}

.dropdown-content button:hover {
    background-color: rgba(162, 216, 243, 0.75);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: #3e8e41;
}


